@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); 

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    background-color: rgb(39, 97, 255);
    font-size: 12px;
    font-family: 'Press Start 2P', Courier;
}


header{
    background-color: red;
    width: 100%;
}

/* NAVBAR */
.navbar{
    margin: 0 auto;
    background-color: rgb(3, 80, 182);
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    flex-wrap: wrap;
    z-index: 10;
}

.navbar__me{
    /* background-color: rgb(168, 168, 233); */
    font-size: 1.1rem;
}

.navbar__me-title{
    color: rgb(202, 202, 202);
    
}

.navbar__list{
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.navbar__item a{
    color: rgb(202, 202, 202);
    font-size: 0.9rem;
    flex-wrap: wrap;
}

.navbar__item:hover, .navbar__me-title:hover{
    filter: brightness(200%);
}

.navbar__select{
    position: absolute;
    display: none;
}

.navbar__item:hover .navbar__select{
    display: inline;
    left: -20px;
}

.navbar__me-title .navbar__select{
    display: inline;
    left: -32px;
}


/* PRINCIPAL */

main{
    background-color: rgb(70, 197, 70);
    margin: 0 auto;

    width: 90%;
    height: auto;
}

.principal{
    background-color: rgb(94, 94, 150);
    margin: 0 auto;
    margin-top: 64px;
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

.principal-sect{
    border: 2px solid black;
    border-radius: 5px;
    width: 50%;
    height: 70%;
    padding: 8px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.principal__perfil{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.principal__top{
    width: 100%;
    display: flex;
    gap: 10px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}

.principal__img{
    height: 240px;
}

.img--layout{
    position: absolute;
    left: 0;
    transition: opacity 0.8s ease;
}

.principal-sect:hover .img--layout{
    opacity: 0;
}
.principal__top-content{
    font-size: 1.3rem;
}


.principal__mid{
    margin: 0 auto;
    text-wrap: pretty;
    font-size: 1.3rem;
}
.principal__parrafo{
    font-size: 1.3rem;
}

.principal__aprendiendo{
    text-align: center;
    display: flex;
    align-items: center;
}

.principal__bot{
    margin: 0 auto;
    height: auto;
    font-size: 1.2rem;
}

.principal__bot-list{
    display: flex;
    gap: 24px;
}

.principal__bot-item{
    transition: transform 0.7s ease;
}

.principal__bot-item:hover{
    transform: scale(1.05);
}


.principal__bot-link{
    border: 1px solid black;
    padding: 8px;
    border-radius: 5px;
    box-sizing: border-box;
}


.principal__bot-item a{
    color: black;
}


/* PROYECTOS */

.proyectos{
    background-color: rgb(201, 199, 199);
    height: auto;
}

.title{
    background-color: red;
    font-size: 2rem;
    margin: 32px 0px;
}

.proyectos__container{
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 24px;

}


.proyecto__card{
    background-color: rgb(157, 211, 211);
    display: flex;
    padding: 16px;
    width: 30%;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    transition: transform 0.7s ease;
}

.proyecto__card:hover{
    transform: scale(1.03);
}


.proyecto__card-divImg{
    width: 100%;
    height: 200px;
    position: relative;
}

.proyecto__card-img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    background-color: red;
}

.proyecto__card-video{
    position: absolute;
    object-fit: fill;
    opacity: 0;
    transition: opacity 0.7s;
}

.proyecto__card:hover .proyecto__card-video{
    opacity: 100;
}

.proyecto__card-content{
    padding: 0;
    width: auto;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.proyecto__card-title{
    margin-top: 8px;
    font-size: 1.2rem;
}

.proyecto__card-tecno{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 8px;
}

.proyecto__card-tecno-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.proyecto__card-tecno-item{
    background-color: black;
    border: 1px solid black;
    border-radius: 8px;
    padding: 4px 8px;
    box-sizing: border-box;
    color: white;
    font-size: 0.6rem;
    text-align: center;
    width: auto;
}

.proyecto__card-tecno-link{
}

.icon{
    font-size: 32px !important;
    color: black;
}
/* TECNOLOGIAS */

.tecnologias{
}


.tecnologias__container{

    display: flex;
    gap: 8px;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;

}

.tecnologias__card{
    width: 32%;
    background-color: rgb(119, 119, 202)  ;
    text-align: center;
    padding: 32px 8px;
    border-radius: 8px;
    border-top: 5px solid white;
    box-sizing: border-box;

}

.tecnologias__card-title{
    font-size: 1.7rem;
    margin-bottom: 32px;
}

.tecnologias__list{
    display: flex;
    gap: 8px 16px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.tecnologias__item{
    /* border: 2px solid black; */
    /* background-color: rgb(139, 179, 179); */
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.tecnologias__img{
    width: 79px;
    height: 79px;
    margin-top: auto;
    filter: drop-shadow(2px 2px 2px black);
}

.tecnologias__item p{
    font-size: 0.74rem;
    margin-top: auto;
    margin-top: 8px;
}

/* FORMACION */

.formacion__title{
    background-color: bisque;
}

.formacion__container{
    margin-top: 32px;
}

.formacion__card{
    background-color: rgb(192, 221, 255);
    padding: 16px;
    border: 2px solid black;
    margin: 16px 0;
    border-radius: 8px;
}

.formacion__card-content{
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 0.8rem;
}

.formacion__fecha{
    font-size: 0.6rem;
}

/* CONTACTO */
.contacto{
    padding-bottom: 32px;
}


.contacto__card{
    background-color: rgb(153, 153, 153);
    width: 40%;
    height: auto;
    margin: 0 auto;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px 8px;
    border-radius: 8px;
}

.contacto__card-title{
    font-size: 1.1rem;
}


/* FOOTER */

.footer__container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100px;
}

.footer__title{
    color: white;
}