@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); 

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{  
    background-color: rgb(51, 51, 51);
    font-size: 12px;
    font-family: 'Press Start 2P', Courier;
}


header{
    background-color: red;
    width: 100%;
}

/* NAVBAR */
.navbar{
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    flex-wrap: wrap;
    z-index: 10;
    outline: 4px solid white;
    position: relative;
}

.navbar__me{
    /* background-color: rgb(168, 168, 233); */
    font-size: 1.1rem;
}

.navbar__me-title{
    color: rgb(202, 202, 202);
    
}

.navbar__list{
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.navbar__drop{
    display: none;
}

.navbar__item a{
    color: rgb(202, 202, 202);
    font-size: 0.9rem;
    flex-wrap: wrap;
}

.navbar__item:hover, .navbar__me-title:hover{
    filter: brightness(200%);
}

.navbar__select{
    position: absolute;
    display: none;
}

.navbar__item:hover .navbar__select{
    display: inline;
    left: -20px;
}

.navbar__me-title .navbar__select{
    display: inline;
    left: -32px;
}

.gif{
    width: 50px;
    height: 40px;
    display: inline-block;
}


/* PRINCIPAL */

main{
    /* background-color: rgb(70, 197, 70); */
    margin: 0 auto;
    width: 90%;
    height: auto;
}


.principal{
    background-color: rgb(51, 51, 51);
    margin: 0 auto;
    width: 90%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    box-sizing: border-box;
    gap: 24px;
    margin-top: 0;
}

.principal-sect{
    border: 4px solid black;
    background-color: rgb(238, 236, 236);
    width: 50%;
    height: 70%;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    outline: 4px solid white;
}

.principal__perfil{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.principal__top{
    width: 100%;
    display: flex;
    gap: 16px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}

.principal__img{
    height: 240px;
}

.img--layout{
    position: absolute;
    top: 50%;
    left: 16%;
    transform: translate(-50%, -50%);
    transition: opacity 0.8s ease;
}

.principal-sect:hover .img--layout{
    opacity: 0;
}
.principal__top-content{
    font-size: 1.2rem;
}

.principal__top-content p{
    font-size: 0.9rem;
}

.principal__mid-bot-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.principal__mid{
    margin: 0 auto;
    text-wrap: pretty;
    font-size: 1.3rem;
}
.principal__parrafo{
    font-size: 1.3rem;
}

.principal__aprendiendo{
    text-align: center;
    display: flex;
    align-items: center;
}

.principal__bot{
    margin: 0 auto;
    height: auto;
    font-size: 1.2rem;
}

.principal__bot-list{
    display: flex;
    align-items: center;
    gap: 16px;
}

.principal__bot-item{
    transition: transform 0.7s ease;
}

.principal__bot-item:hover{
    transform: scale(1.15);
}


.principal__bot-link{
    border: 2px solid black;
    padding: 16px;
    border-radius: 8px;
    box-sizing: border-box;
}

.bi{

    font-size: 32px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}

.principal__bot-item a{
    color: black;
}


/* PROYECTOS */

.proyectos{
    /* background-color: rgb(201, 199, 199); */
    height: auto;
}

.title-container{
    display: flex;
    align-items: center;
}


.title{
    font-size: 2rem;
    margin: 32px 0px;
    color: white;
}

.proyectos__container{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-around;
}


.proyecto__card{
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    padding: 16px;
    width: 30%;
    flex-direction: column;
    border: 4px solid rgb(255, 255, 255);
    /* border-radius: 8px; */
    box-sizing: border-box;
    transition: transform 0.7s ease;
    outline: 4px solid rgb(0, 0, 0);
}

.proyectos__container > .proyecto__card:nth-child(1){
    margin-left: -20px;
}

.proyectos__container > .proyecto__card:nth-child(3){
    margin-right: -20px;
}

.proyecto__card:hover{
    transform: scale(1.03);
}

.proyecto__card-divImg{
    width: 100%;
    height: 200px;
    position: relative;
}

.proyecto__card-img{
    width: 100%;
    height: 100%;
}


.proyecto__card-video{
    position: absolute;
    object-fit: fill;
    opacity: 0;
    transition: opacity 0.7s ease;
}

.proyecto__card:hover .proyecto__card-video{
    opacity: 100;
}

.proyecto__card-content{
    height: 100%;
    padding: 0;
    width: auto;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
}

.proyecto__card-content p{
    text-wrap: pretty;
    line-height: 1.2;
}

.proyecto__card-title{
    margin-top: 8px;
    font-size: 1.2rem;
}

.proyecto__card-tecno{
    display: flex;
    gap: 30px;
    margin-top: 8px;
}

.proyecto__card-tecno-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.proyecto__card-tecno-item{
    background-color: black;
    border: 1px solid black;
    border-radius: 8px;
    padding: 4px 8px;
    box-sizing: border-box;
    color: white;
    font-size: 0.6rem;
    text-align: center;
    width: auto;
    outline: 2px solid white;
    
}

.proyecto__card-tecno-link{
}

.icon{
    font-size: 26px !important;
}

.icon-white{
    color: white;
}

.icon-black{
    color: black;
}

.icon-img{
    width: 32px;
}

.icon-main{
    font-size: 32px !important;
}
/* TECNOLOGIAS */

.tecnologias{
}


.tecnologias__container{

    display: flex;
    gap: 8px;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.tecnologias__card{
    width: 32%;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    padding: 32px 8px;
    /* border-radius: 8px; */
    border: 4px solid rgb(10, 10, 10);
    box-sizing: border-box;
    outline: 4px solid white;
}

.tecnologias__card-title{
    font-size: 1.7rem;
    margin-bottom: 32px;
}

.tecnologias__list{
    display: flex;
    gap: 8px 16px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.tecnologias__item{
    /* border: 2px solid black; */
    /* background-color: rgb(139, 179, 179); */
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.tecnologias__img{
    width: 79px;
    height: 79px;
    margin-top: auto;
    filter: drop-shadow(2px 2px 2px black);
}

.tecnologias__item p{
    font-size: 0.74rem;
    margin-top: auto;
    margin-top: 8px;
}

/* FORMACION */

.formacion__title{
    background-color: bisque;
}

.formacion__container{
    display: flex;
    flex-direction: column;
    
}

.formacion__card{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 16px;
    border: 4px solid rgb(255, 255, 255);
    margin: 16px 0;
    /* border-radius: 8px; */
    outline: 4px solid rgb(0, 0, 0);
}

.formacion__card-content{
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 0.8rem;
}

.formacion__fecha{
    font-size: 0.6rem;
    font-style: italic;
}

.formacion__parrafo{
    margin-top: 8px;
}

/* CONTACTO */
.contacto{
    padding-bottom: 32px;
}


.contacto__card{
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: auto;
    margin: 0 auto;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px 8px;
    border: 4px solid black;
    outline: 4px solid white;
    text-align: center;
}

.contacto__card-title{
    font-size: 1.1rem;
}


/* FOOTER */

.footer__container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100px;
}

.footer__title{
    color: white;
}

/* Responsive */

@media screen and (max-width: 320px) {

    .navbar{
        margin: 0 auto;
        background-color: rgb(0, 0, 0);
        width: 100%;
        min-height: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        top: 0;
        flex-wrap: wrap;
        z-index: 10;
        outline: 4px solid white;
        
    }


    .navbar__list{
        padding: 8px 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .navbar__item{
        display: none;
    }
    .navbar__me-title{
        color: rgb(202, 202, 202);
        text-align: center;        
    }
    

    .navbar__drop{
        display: inline-block;

    }

    .navbar__drop-menu{
        color: white;
    }

    /* PRINCIPAL */

    main{
        width: 100%;
        height: auto;
        margin-right: 0;
    }
    
    .principal{
        margin: 0 auto;
        margin-top: 125px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
    
    .principal-sect{
        border: 4px solid black;
        background-color: rgb(238, 236, 236);
        width: 95%;
        height: 70%;
        padding: 32px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        outline: 4px solid white;
        gap: 16px;
    }
    
    
    .principal__top{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        position: relative;
    }
    
    .principal__img{
        height: 240px;
    }
    
    .img--layout{
        position: absolute;
        top: 36%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.8s ease;
    }
    
   
    .principal__top-content{
        font-size: 0.8rem;
        text-align: center;
    }
    
    .principal__top-content p{
        font-size: 0.8rem;
        margin-bottom: 4px;
    }
    
    
    .principal__mid{
        margin: 0 auto;
   
    }
    .principal__parrafo{
        font-size: 0.8rem;
        text-align: center;

    }
    
    /* Proyectos */


    .proyectos{
        /* background-color: rgb(201, 199, 199); */
        height: auto;
    }
    
    .title-container{
        display: flex;
        justify-content: center;
    }
    
    .title{
        font-size: 1.5rem;
        margin: 32px 0px;
        color: white;
        text-align: center;
    }
    
    .proyectos__container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 24px;
        align-items: center;
    }
    
    
    .proyecto__card{
        background-color: rgb(0, 0, 0);
        color: white;
        display: flex;
        padding: 16px;
        width: 95%;
        flex-direction: column;
        border: 4px solid rgb(255, 255, 255);
        /* border-radius: 8px; */
        box-sizing: border-box;
        transition: transform 0.7s ease;
        outline: 4px solid rgb(0, 0, 0);
    }
    
    .proyectos__container > .proyecto__card:nth-child(1){
        margin-left: 0px;
    }
    
    .proyectos__container > .proyecto__card:nth-child(3){
        margin-right: 0px;
    }
    
    /* TECNOLOGIAS */

        
    .tecnologias__container{
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    .tecnologias__card{
        width: 95%;
        background-color: rgb(255, 255, 255);
        color: black;
        text-align: center;
        padding: 32px 8px;
        /* border-radius: 8px; */
        border: 4px solid rgb(10, 10, 10);
        box-sizing: border-box;
        outline: 4px solid white;
    }

    .tecnologias__card-title{
        font-size: 1.4rem;
        margin-bottom: 32px;
    }
    
    .tecnologias__list{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    
    .tecnologias__item{
        /* border: 2px solid black; */
        /* background-color: rgb(139, 179, 179); */
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    
    .tecnologias__img{
        width: 79px;
        height: 79px;
        margin-top: auto;
        filter: drop-shadow(2px 2px 2px black);
    }
    
    .tecnologias__item p{
        font-size: 0.74rem;
        margin-top: auto;
        margin-top: 8px;
    }
    
    /* Formación */

    .formacion__title{
        background-color: bisque;
    }

    .formacion__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 16px;
        
    }

    .formacion__card{
        width: 85%;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        padding: 16px;
        border: 4px solid rgb(255, 255, 255);
        margin: 0px 0;
        /* border-radius: 8px; */
        outline: 4px solid rgb(0, 0, 0);
    }

    /* Contacto */


    .contacto__card{
        background-color: rgb(255, 255, 255);
        width: 88%;
        height: auto;
        margin: 0 auto;
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        padding: 16px 8px;
        border: 4px solid black;
        outline: 4px solid white;
    }


    /* Footer */

    .footer__container{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        width: 100%;
        height: 100px;
    }

    .footer__title{
        font-size: 0.95rem;
        color: white;
        text-align: center;
    }
}

@media (min-width: 321px) and (max-width: 480px) {

    
    main{
        width: 100%;
        height: auto;
        margin-right: 0;
    }
    
    .principal{
        margin: 0 auto;
        margin-top: 125px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
    
    .principal-sect{
        border: 4px solid black;
        background-color: rgb(238, 236, 236);
        width: 95%;
        height: 70%;
        padding: 32px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        outline: 4px solid white;
        gap: 16px;
    }
    
    
    .principal__top{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        position: relative;
    }
    
    .principal__img{
        height: 240px;
    }
    
    .img--layout{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.8s ease;
    }
    
   
    .principal__top-content{
        font-size: 0.8rem;
        text-align: center;
    }
    
    .principal__top-content p{
        font-size: 0.8rem;
        margin-bottom: 4px;
    }
    
    
    .principal__mid{
        margin: 0 auto;
   
    }
    .principal__parrafo{
        font-size: 0.8rem;
        text-align: center;

    }
    
    /* Proyectos */


    .proyectos{
        /* background-color: rgb(201, 199, 199); */
        height: auto;
    }
    
    .title-container{
        display: flex;
        justify-content: center;
    }
    
    .title{
        font-size: 1.5rem;
        margin: 32px 0px;
        color: white;
        text-align: center;
    }
    
    .proyectos__container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 24px;
        align-items: center;
    }
    
    
    .proyecto__card{
        background-color: rgb(0, 0, 0);
        color: white;
        display: flex;
        padding: 16px;
        width: 95%;
        flex-direction: column;
        border: 4px solid rgb(255, 255, 255);
        /* border-radius: 8px; */
        box-sizing: border-box;
        transition: transform 0.7s ease;
        outline: 4px solid rgb(0, 0, 0);
    }
    
    .proyectos__container > .proyecto__card:nth-child(1){
        margin-left: 0px;
    }
    
    .proyectos__container > .proyecto__card:nth-child(3){
        margin-right: 0px;
    }
    
    /* TECNOLOGIAS */

        
    .tecnologias__container{
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    .tecnologias__card{
        width: 95%;
        background-color: rgb(255, 255, 255);
        color: black;
        text-align: center;
        padding: 32px 8px;
        /* border-radius: 8px; */
        border: 4px solid rgb(10, 10, 10);
        box-sizing: border-box;
        outline: 4px solid white;
    }

    .tecnologias__card-title{
        font-size: 1.35rem;
        margin-bottom: 32px;
    }
    
    .tecnologias__list{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    
    .tecnologias__item{
        /* border: 2px solid black; */
        /* background-color: rgb(139, 179, 179); */
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    
    .tecnologias__img{
        width: 79px;
        height: 79px;
        margin-top: auto;
        filter: drop-shadow(2px 2px 2px black);
    }
    
    .tecnologias__item p{
        font-size: 0.74rem;
        margin-top: auto;
        margin-top: 8px;
    }


    /* Formación */

    .formacion__title{
        background-color: bisque;
    }

    .formacion__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 16px;
        
    }

    .formacion__card{
        width: 85%;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        padding: 16px;
        border: 4px solid rgb(255, 255, 255);
        margin: 0px 0;
        /* border-radius: 8px; */
        outline: 4px solid rgb(0, 0, 0);
    }

    /* Contacto */


    .contacto__card{
        background-color: rgb(255, 255, 255);
        width: 88%;
        height: auto;
        margin: 0 auto;
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        padding: 16px 8px;
        border: 4px solid black;
        outline: 4px solid white;
    }


    /* Footer */

    .footer__container{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        width: 100%;
        height: 100px;
    }

    .footer__title{
        font-size: 0.95rem;
        color: white;
        text-align: center;
    }

}

@media (min-width: 481px) and (max-width: 767px) {

    main{
        width: 100%;
        height: auto;
        margin-right: 0;
    }
    
    .principal{
        margin: 0 auto;
        margin-top: 50px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
    
    .principal-sect{
        border: 4px solid black;
        background-color: rgb(238, 236, 236);
        width: 95%;
        height: 70%;
        padding: 32px 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        box-sizing: border-box;
        outline: 4px solid white;
        gap: 16px;
    }
    
    
    .principal__top{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        position: relative;
    }
    
    .principal__img{
        height: 240px;
    }
    
    .img--layout{
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.8s ease;
    }
    
   
    .principal__top-content{
        font-size: 1rem;
        text-align: center;
    }
    
    .principal__top-content p{
        font-size: 0.8rem;
        margin-bottom: 4px;
    }
    
    .principal__mid-bot-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }
    
    .principal__mid{
        margin: 0 auto;
        font-size: 1.3rem;
   
    }
    .principal__parrafo{
        font-size: 1.1rem;
        text-align: center;

    }
    
    .principal__mid{
        margin: 0 auto;
        text-wrap: pretty;
    }
    .principal__parrafo{
        font-size: 1.2rem;
    }

    .principal__aprendiendo{
        text-align: center;
        display: flex;
        align-items: center;
    }

    .principal__bot{
        margin: 0 auto;
        height: auto;
        font-size: 1.1rem;
    }

    .principal__bot-list{
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .principal__bot-item{
        transition: transform 0.7s ease;
    }

    .principal__bot-item:hover{
        transform: scale(1.15);
    }


    .principal__bot-link{
        border: 2px solid black;
        padding: 16px;
        border-radius: 8px;
        box-sizing: border-box;
    }

    /* Proyectos */

    .proyectos__container{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: space-around;
    }
    
    
    .proyecto__card{
        background-color: rgb(0, 0, 0);
        color: white;
        display: flex;
        padding: 16px;
        width: 95%;
        flex-direction: column;
        border: 4px solid rgb(255, 255, 255);
        /* border-radius: 8px; */
        box-sizing: border-box;
        transition: transform 0.7s ease;
        outline: 4px solid rgb(0, 0, 0);
    }
    
    .proyectos__container > .proyecto__card:nth-child(1){
        margin-left: 0;
    }
    
    .proyectos__container > .proyecto__card:nth-child(3){
        margin-right: 0;
    }

        /* TECNOLOGIAS */

    
    .tecnologias__container{
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    .tecnologias__card{
        width: 95%;
        background-color: rgb(255, 255, 255);
        color: black;
        text-align: center;
        padding: 32px 8px;
        /* border-radius: 8px; */
        border: 4px solid rgb(10, 10, 10);
        box-sizing: border-box;
        outline: 4px solid white;
    }

    .tecnologias__card-title{
        font-size: 1.7rem;
        margin-bottom: 32px;
    }

    /* Formación */

    .formacion__title{
        background-color: bisque;
    }

    .formacion__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 16px;
        
    }

    .formacion__card{
        width: 90%;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        padding: 16px;
        border: 4px solid rgb(255, 255, 255);
        margin: 0px 0;
        /* border-radius: 8px; */
        outline: 4px solid rgb(0, 0, 0);
    }

    /* Contacto */

    .contacto__card{
        background-color: rgb(255, 255, 255);
        width: 90%;
        height: auto;
        margin: 0 auto;
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        padding: 16px 8px;
        border: 4px solid black;
        outline: 4px solid white;
    }


    /* Footer */

    .footer__container{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        width: 100%;
        height: 100px;
    }

    .footer__title{
        font-size: 0.95rem;
        color: white;
        text-align: center;
    }

}

@media (min-width: 768px) and (max-width: 1300px) {
    
      
    .principal{
        margin: 0 auto;
        margin-top: 50px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
    
    .principal-sect{
        border: 4px solid black;
        background-color: rgb(238, 236, 236);
        width: 100%;
        height: 70%;
        padding: 32px 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        box-sizing: border-box;
        outline: 4px solid white;
        gap: 16px;
    }
    
    
    .principal__top{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        position: relative;
    }
    
    .principal__img{
        height: 240px;
    }
    
    .img--layout{
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.8s ease;
    }
    
   
    .principal__top-content{
        font-size: 1rem;
        text-align: center;
    }
    
    .principal__top-content p{
        font-size: 0.8rem;
        margin-bottom: 4px;
    }
    
    .principal__mid-bot-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }
    

      /* Proyectos */

    .proyectos{
        /* background-color: rgb(201, 199, 199); */
        height: auto;
        width: 100%;
    }

    .proyectos__container{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: space-around;
    }
    
    
    .proyecto__card{
        background-color: rgb(0, 0, 0);
        color: white;
        display: flex;
        padding: 16px;
        width: 48%;
        flex-direction: column;
        border: 4px solid rgb(255, 255, 255);
        /* border-radius: 8px; */
        box-sizing: border-box;
        transition: transform 0.7s ease;
        outline: 4px solid rgb(0, 0, 0);
    }
    
    .proyectos__container > .proyecto__card:nth-child(1){
        margin-left: 0;
    }
    
    .proyectos__container > .proyecto__card:nth-child(3){
        margin-right: 0;
    }

       
    .tecnologias__container{
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    .tecnologias__container .tecnologias__card:nth-child(1){
        margin-left: -20px;
    }
    .tecnologias__container .tecnologias__card:nth-child(2){
        margin-right: -20px;
    }

    .tecnologias__card{
        width: 45%;
        background-color: rgb(255, 255, 255);
        color: black;
        text-align: center;
        padding: 32px 8px;
        /* border-radius: 8px; */
        border: 4px solid rgb(10, 10, 10);
        box-sizing: border-box;
        outline: 4px solid white;
    }

    .tecnologias__card-title{
        font-size: 1.7rem;
        margin-bottom: 32px;
    }


}